<h1>Display your Pirate here</h1>

<div class="pirate">
<p><%= @pirate.name %></p>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>
</div></br>

<h2>Display your first ship here</h2>
<% @ships.each do |course,index| %>
  <div class="ship">
    <% if index == 0 %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  </div></br>
<% end %>

<h2>Display your second ship here</h2>
<% @ships.each do |course,index| %>
  <div class="ship">
    <% if index == 1 %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  </div></br>
<% end %>
